# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Misc
.DS_Store
*.pem

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
.gemini/
backend/data/*.pdf
backend/data/*.txt
